---
import { t, changeLanguage } from "i18next";
import Badge from "../../components/Badge.astro";
import SectionContainer from "../../components/SectionContainer.astro";
import SocialPill from "../../components/SocialPill.astro";
import LinkedInIcon from "../../components/icons/LinkedIn.astro";
import Layout from "../../layouts/Layout.astro";
import LinkInline from "@/components/LinkInline.astro";
import TailwindCSS from "@/components/icons/TailwindCSS.astro";

changeLanguage("en");
---

<Layout
	title="Design System porfolio.dev"
	description="El catálogo de componentes de nuestro porfolio">
	<SectionContainer class="py-44 pb-32 flex flex-col gap-y-10">
		<article class="mb-10">
			<h1 class="mb-4 text-xl font-semibold">&lt;Badge /&gt;</h1>

			<Badge>{t("hero.badge")}</Badge>
		</article>

		<article class="mb-10">
			<h1 class="mb-4 text-xl font-semibold">&lt SocialPill /&gt;</h1>

			<div class="flex">
				<SocialPill href="https://linkedin.com/in/beatrizmavend">
					<LinkedInIcon class="size-4 md:size-6" />
					{t("hero.socialpill.linkedin")}
				</SocialPill>
			</div>
		</article>
		<article class="mb-10">
			<h1 class="mb-4 text-xl font-semibold">&lt LinkInline /&gt;</h1>
			<LinkInline href="#">
				{t("experience.more")}{" "}
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					stroke-width="2"
					stroke="currentColor"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round">
					<>
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M9 6l6 6l-6 6"></path>
					</>
				</svg>
			</LinkInline>
		</article>
		<article class="mb-10">
			<h1 class="mb-4 text-xl font-semibold">&lt Tags /&gt;</h1>
			<div class="flex flex-wrap mt-2">
				<span
					class={`
						flex gap-x-2 rounded-full text-xs dark:bg-[#003159] dark:text-white bg-blue-200/80 text-sky-600
						py-1 px-2 
						border border-black/10
						dark:border dark:border-white/10
					`}>
					<TailwindCSS class="size-4" />
					{t("site.example")}
				</span>
			</div>
		</article>
	</SectionContainer>
</Layout>
