---
import { t, changeLanguage } from "i18next"
import Layout from "@/layouts/Layout.astro"
import BriefcaseIcon from "@/components/icons/Briefcase.astro"
import Experience from "@/components/Experience.astro"
import AboutMe from "@/components/AboutMe.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Projects from "@/components/Projects.astro"
import ProfileCheckIcon from "@/components/icons/ProfileCheck.astro"
import Hero from "@/components/Hero.astro"

changeLanguage("es")
---

<Layout title={t("site.title")} description={t("site.description")}>
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero />
		</SectionContainer>
		<div class="space-y-24">
			<SectionContainer id="projects">
				<h2
					class="flex items-center mb-6 text-3xl font-semibold gap-x-3
			text-black/80 dark:text-white">
					<CodeIcon class="size-7" />
					{t("projects.title")}
				</h2>
				<Projects />
			</SectionContainer>
			<SectionContainer id="experience">
				<h2
					class="flex items-center mb-6 text-3xl font-semibold gap-x-3
			text-black/80 dark:text-white">
					<BriefcaseIcon class="size-8" />
					{t("experience.title")}
				</h2>
				<Experience />
			</SectionContainer>

			<SectionContainer id="about">
				<h2
					class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white">
					<ProfileCheckIcon class="size-8" />
					{t("about.title")}
				</h2>
				<AboutMe />
			</SectionContainer>
		</div>
	</main>
</Layout>
