---
import Layout from "../layouts/Layout.astro"
import BriefcaseIcon from "../components/icons/Briefcase.astro"
import Experience from "../components/Experience.astro"
import AboutMe from "../components/AboutMe.astro"
import SectionContainer from "../components/SectionContainer.astro"
import CodeIcon from "../components/icons/Code.astro"
import Projects from "../components/Projects.astro"
import ProfileCheckIcon from "../components/icons/ProfileCheck.astro"
import Hero from "../components/Hero.astro"
---

<Layout
	title="Portfolio de mavend - Desarrolladora y Programadora Web"
	description="Contrata a mavend para crear tu aplicación web o móvil. Desarrolladora Web. Especializada en crear aplicaciones únicas">
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero />
		</SectionContainer>
		<div class="space-y-24">
			<SectionContainer id="experience">
			<h2
				class="flex items-center mb-6 text-3xl font-semibold gap-x-3
			text-black/80 dark:text-white">
				<BriefcaseIcon class="size-7" />
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="projects">
			<h2
				class="text-3xl font-semibold mb-6 flex gap-x-3 items-center
			text-black/80 dark:text-white">
				<CodeIcon class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
		<SectionContainer id="about">
			<h2
				class="text-3xl font-semibold mb-6 flex gap-x-8 items-center text-black/80 dark:text-white">
				<ProfileCheckIcon class="size-7" />
				Sobre mí
			</h2>
			<AboutMe />
		</SectionContainer>
		</div>
	</main>
</Layout>
