---
import { t } from "i18next"
import ExperienceItem from "./ExperienceItem.astro"

interface ExpItem {
	date: string
	title: string
	company: string
	description: string
	link: string
}

const EXPERIENCE: ExpItem[] = t("experience.experiences", { returnObjects: true })
---

<ol class="relative mt-16">
	{
		EXPERIENCE.map((experience) => (
			<li class="">
				<ExperienceItem {...experience} />
			</li>
		))
	}
</ol>
