<a
	{...Astro.props}
	target="_blank"
	rel="noopener noreferrer"
	role="link"
	class={`
	inline-flex items-center justify-center
	gap-2 px-4 py-1 text-gray-800 transition
	bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800
	dark:border-gray-600 dark:text-white focus-visible:ring-blue-500/80
	text-md hover:bg-sky-100/50 dark:hover:bg-blue-950/60 hover:border-gray-300 group max-w-fit
	dark:hover:text-white hover:text-gray-800 focus:outline-none focus-visible:outline-none
	focus-visible:ring focus-visible:ring-white
	focus-visible:ring-offset-2 active:bg-black`}>
	<slot />
</a>
